.known {
  color: lightgreen;
}

#Fax {
  color: lightslategray;
}

* {
}

span {
}

div[class="catSubscription"] {
}

button:hover {
}

section,
div {
}

body table {
}

ul > li {
}

h3 ~ aside {
}

li + li {
}

h3#Schedule {
}
